.form {
  display: flex;
  justify-content: center;
  margin-top: 115px;
}

.data {
  background-color:whitesmoke;
  width: 40%;
  height: 65vh;
}
.data-1{
  padding: 50px 40px;
}

.data-1>input{
  width: 85%;
  margin-left: 10px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 16px;
}
.data-1>label{
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.btn{
  background-color: blue;
  color: white;
  width: 85%;
  height: 40px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
}

.dontHave{
  margin-top: -20px;
  margin-left: 140px;
}